.App {
  text-align: center;
}

.App-logo {
  height: 38vmin;
  pointer-events: none;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  left: 10 rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbar {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: relative;
  justify-content: right;
  margin-left: -15px;
  margin-top: 10px;

}
.searchbar button {
  margin-left: 10px;
  height: 55px;
  display: flex;
  position: relative;

}

.camera {
  margin-left: 90px;
  height: 55px;
  display: flex;
  position: relative;
  
}
.gifs img {
  height: 200px;
}